{% extends "home.html" %}
{% block content %}


            <div class="row" style="margin:1%">
                <div class="col-md-8">
                    <div class="page-header">
                        <h3>
                            Université Paris 1 Panthéon-Sorbonne<br>
                            <small> Masters in Financial Market and Risk Management</small>
                        </h3>
                        <p>

                            This website is an online application of the One-factor Hull-White model, for pricing and
                            calibration of interest rates.<br>
                            It was done with the intention of being a practical and useful tool for the Masters'
                            students.

                    </div>

                </div>
 <div class="col-md-3">
                    <img src="/static/image/logo_pantheon.jpg" alt="" height="120px" style="height: 160px; margin-right: 1%">
                    </div>
                <div class="col-md-1"></div>
                </div>
                <div class="row" style="margin:1%">
                    <h3>
                            Collaborators

                    </h3>

                </div>
            <br><br>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <div class="member">
                            <div class="photo-wrapper">
                                <div class="photo"><img src="/static/image/pic.png" alt="" width="160px" ,
                                                        height="160px"
                                                        style="width: 160px;height: 160px"></div>
                            </div>
                            <div class="info">
                                <br>
                                <div class="name"><b>Ali Broma SIDIBE</b></div>
                                <div class="contacts">
                                    <a href="#">bromasidibe@gmail.com</a><br>
                                    <a href="https://www.linkedin.com/in/alibsidibe/">Linkedin</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <div class="member">
                            <div class="photo-wrapper">
                                <div class="photo"><img src="/static/image/ayten.jpeg" alt="" width="160px" ,
                                                        height="160px"
                                                        style="width: 160px;height: 160px"></div>
                            </div>
                            <div class="info">
                                <br>
                                <div class="name"><b>Ayten YAGBASAN</b></div>
                                <div class="contacts">
                                    <a href="#">ayten_92@hotmail.fr</a><br>
                                    <a href="https://www.linkedin.com/in/aytenyagbasan/">Linkedin</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <div class="member">
                            <div class="photo-wrapper">
                                <div class="photo"><img src="/static/image/fabricio.jpeg" alt="" width="160px" ,
                                                        height="160px"
                                                        style="width: 160px;height: 160px"></div>
                            </div>
                            <div class="info">
                                <br>
                                <div class="name"><b>Fabrício VIEIRA DA SILVA ALMEIDA</b></div>
                                <div class="contacts">
                                    <a href="#">fabriciovsa@gmail.com</a><br>
                                    <a href="https://www.linkedin.com/in/fabricio-almeida/">Linkedin</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
{% endblock %}

