{% extends 'base.html' %}

{% block content %}

             <div class="page-header" style="margin: 1%">
                <h4>Equilibrium option pricing: A Monte Carlo approach
                </h4>
                <br>
                <img src="http://www.goddardconsulting.ca/image-files/MonteCarloPaths.jpg" alt="Smiley face" align="right">
                    <p>
                        <br>
                        This website has as purpose the implementation of the paper developed by
                        <b>Axel Buchner</b> that presents a novel Monte Carlo method for option
                        pricing which is based on a general equilibrium model.
                    </p>
                    <p>
                        The main advantage of the method is that it does not require the specification
                        of a market price of risk, making the method flexible for pricing in incomplete
                        markets which is a well-known challenge in financial markets.
                    </p>
                    <p>
                        The method produces a strongly consistent estimator for the
                        option price that exhibits the same error convergence rate as the
                        standard risk-neutral pricing Monte Carlo approach.
                    </p>
            <br><br><br><br>

            </div>

<br>
             <div class="row" style="margin: 1%">
                        <div class="col-md-4">
                            <p align="justify">
                                In the <b>Iterations</b> option, we can check how different numbers of simulation iterations can affect
                                the option prices given by the model.
                            </p>
                            <p align="justify">
                                As showed in the results, analyzing the standard errors, we find that the model
                                has an O(&radic;<span style="text-decoration: overline">n</span>) convergence rate.
                                Also, we can see that the standard errors grow with increasing moneyness of the options.
                            </p>
                            <a class="btn btn-block  btn-primary" href="iteration" role="button">ITERATIONS</a>
                        </div>
                        <div class="col-md-4">
                            <p align="justify">
                                In the <b>Relative Risk Aversion</b> option, we can understand how different levels of
                                relative risk aversion b on option prices.
                            </p>
                            <p align="justify">
                                We concluded that, in general, increasing levels of risk aversion decreases call option prices and
                                increase put option prices.In incomplete market structures, the relative risk aversion
                                has an important effect on option prices.
                            </p>
                            <br>
                            <a class="btn btn-block  btn-primary" href="risk" role="button">RELATIVE RISK AVERSION</a>
                        </div>
                        <div class="col-md-4">
                            <p align="justify">
                                In the <b>Volatility</b> option, we compare how different types of volatility (constant and stochastic)
                                can affect the option prices.
                            </p>
                            <p align="justify">
                                Overall, we concluded that a stochastic volatility generates increased prices of
                                In-The-Money (ITM) call options and decreases the prices of Out-The-Money (OTM) call options.
                                Having an the opposite effect in put options.
                            </p>
                            <br>
                             <a class="btn btn-block  btn-primary" href="volatility" role="button">STOCHASTIC VOLATILITY</a>

                        </div>
                        <div class="col-md-3"></div>
                    </div>

    {% endblock %}
