{% extends "base.html" %}

{% block header %}
<li>
    <a href="iteration">By iteration</a>
</li>
<li>
    <a href="volatility">By volatility</a>
</li>
{% endblock %}

{% block content %}
<div class="page-header" style="margin: 1%">
    <h4>
        Effects of risk aversion on the option pricing
    </h4><br>
    <p align="justify">
                                In the <b>Relative Risk Aversion</b> option, we can understand how different levels of
                                relative risk aversion b on option prices.
                            </p>
                            <p align="justify">
                                We concluded that, in general, increasing levels of risk aversion decreases call option prices and
                                increase put option prices.In incomplete market structures, the relative risk aversion
                                has an important effect on option prices.
                            </p>
</div>

<form role="form" name="computeForm" id="computeForm" method="get" action="/risk">
    <div class="container-fluid">
        <div class="row" style="margin:1%">
            <div class="form-group row">
                <div class="col-xs-1">
                    <label for="stock_initial">So</label>
                    <input class="form-control" name="stock_initial" id="stock_initial"
                           value="{{ param.stock_initial }}"  pattern="([0-9]+\.)?[0-9]+">
                </div>
                <div class="col-xs-1">
                    <label for="stock_return" lang="latex">\mu_s</label>
                    <input class="form-control" id="stock_return" name="stock_return"
                           value="{{ param.stock_return }}"  pattern="([0-9]+\.)?[0-9]+">
                </div>
                 <div class="col-xs-1" hidden>
                    <label for="market_return" lang="latex">M_0</label>
                    <input class="form-control" id="market_initial" name="market_return"
                           value="{{ param.market_return }}"  pattern="([0-9]+\.)?[0-9]+">
                </div>
                <div class="col-xs-1">
                    <label for="market_return" lang="latex">\mu_m</label>
                    <input class="form-control" id="market_return" name="market_return"
                           value="{{ param.market_return }}"  pattern="([0-9]+\.)?[0-9]+">
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-1">
                    <label for="volatility_speed" lang="latex">\kappa</label>
                    <input class="form-control" id="volatility_speed" name="volatility_speed"
                           value="{{ param.volatility_speed }}"  pattern="([0-9]+\.)?[0-9]+">
                </div>
                <div class="col-xs-1">
                    <label for="volatility_long" lang="latex">\theta</label>
                    <input class="form-control" id="volatility_long" name="volatility_long"
                           value="{{ param.volatility_long }}"  pattern="([0-9]+\.)?[0-9]+">
                </div>
                <div class="col-xs-1">
                    <label for="volatility_initial" lang="latex">V_0</label>
                    <input class="form-control" id="volatility_initial" name="volatility_initial"
                           value="{{ param.volatility_initial }}"  pattern="([0-9]+\.)?[0-9]+">
                </div>
                <div class="col-xs-1">
                    <label for="volatility_sigma" lang="latex">\sigma_v</label>
                    <input class="form-control" id="volatility_sigma" name="volatility_sigma"
                           value="{{ param.volatility_sigma }}"  pattern="([0-9]+\.)?[0-9]+">
                </div>
                <div class="col-xs-1">
                    <label for="market_volatility" lang="latex">\sigma_m</label>
                    <input class="form-control" id="market_volatility" name="market_volatility"
                           value="{{ param.market_volatility }}"  pattern="([0-9]+\.)?[0-9]+">
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-1">
                    <label for="correlation_stock_volatility" lang="latex">\rho_{sv}</label>
                    <input class="form-control" id="correlation_stock_volatility" name="correlation_stock_volatility"
                           value="{{ param.correlation_stock_volatility }}" pattern="(^-?[0-9]+\.)?[0-9]+">
                </div>
                <div class="col-xs-1">
                    <label for="correlation_stock_market" lang="latex">\rho_{sm}</label>
                    <input class="form-control" id="correlation_stock_market" name="correlation_stock_market"
                           value="{{ param.correlation_stock_market }}"  pattern="(^-?[0-9]+\.)?[0-9]+">
                </div>
            </div>
        </div>
        <div class="row" style="margin:1%">
            <div class="form-group row">
                <div class="col-xs-2">
                    <label for="maturity">Maturity</label>
                    <input class="form-control" id="maturity" name="maturity"
                           value="{{ param.maturity }}">
                </div>
                <div class="col-xs-2">
                    <label for="step_number">Number of steps</label>
                    <input class="form-control" id="step_number" name="step_number"
                           value="{{ param.number_of_step }}">
                </div>
                <div class="col-xs-2">
                    <label for="strike">Strikes</label>
                    <input class="form-control" id="strike" name="strike"
                           value="{{ param.strike_display }}">
                </div>
                 <div class="col-xs-2">
                    <label for="iterations">Iteration</label>
                    <input class="form-control" id="iterations" name="iterations"
                           value="{{ param.iterations }}"  pattern="([0-9]+\.)?[0-9]+">
                </div>
                 <div class="col-xs-4">
                    <label for="maturity">Risk Aversions</label>
                    <input class="form-control" id="risk_aversion" name="risk_aversion"
                           value="{{ param.risk_aversion_display }}">
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-4">
                    <input type="submit" class="btn btn-block  btn-primary" id="show_graph" value="Show Graph"
                           name="show_graph"/>
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-block  btn-primary" id="show_api" value="Show API in Json"
                           name="show_api"/>
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-block  btn-primary" id="show_cvs" value="Download in format csv"
                           name="show_cvs"/>
                </div>
            </div>
            <div lang="latex">
            </div>
    </div>
</form>

{% if output %}
<div class="row" style="border: 1px solid #8c8c8c;margin:1%">

    <div class="col-md-6">
        <h5>Call</h5>
        <div>{{ graph_call|safe }}</div>
    </div>
    <div class="col-md-6">
        <h5>Put</h5>
        <div>{{ graph_put|safe }}</div>
    </div>
</div>

<div class="row" style="margin:1%">

    <table cellpadding="5" class="table table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th colspan="2"></th>
            <th colspan="4" style="border-bottom-color:red;text-align:center">Option Call</th>
            <th colspan="4" style="border-bottom-color:#3531ff;text-align:center">Option Put</th>
        </tr>
        <tr>
            <th>Strike</th>
            <th>Risk aversion</th>
            <th>Price</th>
            <th>Std</th>
            <th>Conf up</th>
            <th>Conf Down</th>
            <th>Price</th>
            <th>Std Error</th>
            <th>Conf Up</th>
            <th>Conf Down</th>
        </tr>
        </thead>
        <tbody>
        {% for item in output.payoffs %}
        <tr>
            <td>
                {{ item.strike }}
            </td>
            <td>
                {{ item.risk_aversion}}
            </td>
            <td>
                {{ item.call.price|floatformat:4 }}
            </td>
            <td>
                {{ item.call.std_error|floatformat:4 }}
            </td>
            <td>
                {{ item.call.confidence_up|floatformat:4 }}
            </td>
            <td>
                {{ item.call.confidence_down|floatformat:4 }}
            </td>
            <td style="border-left-color:#3531ff">
                {{ item.put.price|floatformat:4 }}
            </td>
            <td>
                {{ item.put.std_error|floatformat:4 }}
            </td>
            <td>
                {{ item.put.confidence_up|floatformat:4 }}
            </td>
            <td>
                {{ item.put.confidence_down|floatformat:4 }}
            </td>
        </tr>
        {% endfor %}

    </table>


</div>
{% endif %}

{% endblock %}


